<% provide :title, t(".title") %>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
  </head>
  <body>
    <h1><%= t ".title" %></h1>
    <p>
      <%= raw t ".link1", url1: link_to(t(".title_link1"), "https://www.railstutorial.org/help") %>
      <%= raw t ".link2", url2: link_to(t(".title_link2"), "https://www.railstutorial.org/book") %>
    </p>
  </body>
</html>