<% provide :title, t(".title") %>
<html>
  <body>
    <h1><%= t ".sample_app" %></h1>
    <p>
      <%= raw t ".link", url: link_to(t(".title_link"), "https://www.railstutorial.org/") %>
    </p>
  </body>
</html>